<html>
<body>
<p> Get Your greeting <a href="/sayhello"> Click here </a> </p>
<br>
 <h1>  This is Demo </h1>

<br>

<img src="/images/hot.jpg" width=1700 height=1000 alt="loading error">
<br>
<br>
<img src="/images/krishna.jpg" width=1700 height=1000></a>

 <br>
 <a href="http://www.google.com"  target = "_blank">  <img src="/images/google.jpg" alt="image not present" width=300 height=250> </a>
 <br>
 <br>
 
 
 <table border=1 >
 <th> Id</th>
 <th> Name </th>
 <tr>
 <td>1</td>
 <td>Pankaj </td>
 </tr>
 <tr>
 <td>2</td>
 <td>Nilesh </td>
 </tr>
 <tr>
 <td>3</td>
 <td>Yash </td>
 </tr>
 <tr>
 <td>4</td>
 <td>Vikas </td>
 </tr>
 </table>
 <br>
 <br>
 <br>
 
 
 <form method="get" action="/sayhello">
  First Name: <input type="text" name="uname"/> <br/>  <br>
  Last Name:  <input type="password" name="pass"/> <br/>
  <br>
  <input type="submit" value="ok">
 </form>
</body>
</html>