<html>
<body>
<h1> Fill The Form </h1>
<form method="post" action="/createstudent">
<input type="text" placeholder="First Name : " name="firstName">
<br>
<input type="text" placeholder="Last Name : " name="LastName">
<br>
<input type="email" placeholder="Email" name="email">
<br>
<input type="password" placeholder="Password" name="password">
<br>
<br>
Select Gender
<br>
<input type="radio" name="gender" value="Male"> Male
<br>
<input type="radio" name="gender" value"Female"> Female
<br>
<br>
Select Programming Languages
<br>
<input type="checkbox" value="C" name="plang"> C
<br>
<input type="checkbox" value="C++" name="plang"> C++
<br>
<input type="checkbox" value="JAVA" name="plang"> JAVA
<br>
<input type="checkbox" value="PYTHON" name="plang"> PYTHON
<br>
<br>
Select Your Operating System
<br>
 <select name="os">
 <option>Windows</option>
 <option>Linux</option>
 <option>Mac</option>
 </select> 
<br>
<br>
Select City Name
<br>
 <select name="city" multiple>
 <option>AURANGABAD</option>
 <option>PUNE</option>
 <option>NASHIK</option>
 <option>MUMBAI</option>
 </select>
 <br>
 <br>
<input type="submit" value="Submit">
<br>
</form>

</body>
</html>